body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
 text-align: center;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}

.cart {
    position: absolute;
    left: 50px;
    top: 100px;
    color: #45a049;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.products {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.product h2 {
    font-size: 1.5em;
}
img{
    width: 100px;
}
button {
    background: #35424a;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

.cart-details {
    flex: 1;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px;
}